<!DOCTYPE html>
<html>

<head>
	<title>FAQ</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style1.css">
</head>

<body>
	<header>
		<div class="header1">
			<h1>Frequently Asked Questions</h1>
		</div>
		<br /><br />
		<div class="questions">
			<div class="ans">

				<h3><strong>Q1).What are the symptoms of leprosy?</strong></h3>
				<p>Ans:Leprosy starts by damaging nerves close to the surface of the skin. The first signs are often
					discoloured patches on the hands and feet that have lost sensation due to nerve damage, and weakness
					of the muscles in these areas.<br /> <br>
				<h3><strong>Q2).Is there a cure for leprosy?</strong></h3>
				<p>Ans:Leprosy has been curable by Multidrug therapy, a combination of three drugs that fight the
					leprosy bacteria, since 1982. People affected by leprosy usually take the drug combination for six
					to twelve months after diagnosis depending on the type of leprosy that they have.

					Multidrug therapy is provided free of charge by the World Health Organisation, donated by Novartis.
					The sooner a person affected by leprosy is treated the better as they are less likely to develop
					permanent impairments as a result of their leprosy.</p>
				<br />
				<h3><strong>Q3).How does leprosy affect the body?</strong></h3>
				<p>Ans:If left untreated, leprosy progresses and the nerve damage spreads. Lacking sensation in their
					hands and feet, people with leprosy can injure themselves. And these injuries can lead to ulcers,
					infection and permanent disability.

					Leprosy can cause muscle paralysis, resulting in clawed fingers and foot drop. This makes it
					difficult for people to walk or use their hands. It can also damage nerves in the face, causing the
					eyelid muscles to stop working. As the eyes are no longer protected by blinking, they are easily
					damaged, leading to sight loss and blindness.

					Some people experience reactions to the leprosy bacteria in their body, even when the bacteria are
					no longer active and treatment is underway. These reactions can cause pain, sickness, swelling of
					the skin and fever.</p>
				<br />
				<h3><strong>Q4).How is leprosy spread?</strong></h3>
				<p>Ans:Leprosy is mainly spread in airborne droplets such as through coughing or sneezing, by someone
					who is affected by the disease. However, it will only infect those with poor immunity, who may be
					undernourished, living in poor conditions and more likely to develop leprosy due to genetics. 95% of
					people are naturally immune to leprosy.</p>
				<br />
				<h3><strong>Q5).Does leprosy cause body parts to fall off?</strong></h3>
				<p>Ans:Leprosy does not cause body parts to drop off, despite some people affected by leprosy missing
					fingers, toes or limbs. The loss of body parts is due to infection in injuries caused by lack of
					sensation in the hands and feet.

					People often do not realise how bad an injury is because they cannot feel pain, which may then lead
					to it getting infected. This sometimes results in people having to have limbs, fingers or toes
					amputated to stop more serious infection.

					The damaging of nerves on hands or feet that leads to reduced use of muscles also leads to
					shortening of the fingers and toes.</p>
				<br />
				<h3><strong>Q6).Is there a leprosy vaccine?</strong></h3>
				<p>Ans:There is no current leprosy vaccine that provides full protection against the disease. Currently,
					research to develop a more effective vaccine is taking place in the USA. The Leprosy Mission will be
					involved in clinical trials to test its effectiveness.</p>
				<br />
				<h3><strong>Q7).Where is leprosy found in the world today?</strong></h3>
				<p>Ans:The countries with the highest number of new leprosy diagnoses every year are India, Brazil,
					Indonesia and Bangladesh. More than half of all new cases of leprosy are diagnosed in India. In 2020
					65,147 - or 51 per cent - of new cases of leprosy were found there (and this number is much lower
					than usual due to the challenges to diagnosing and treating new cases posed by the Covid-19
					pandemic).</p>
				<br />
				<!-- <h3><strong>Q8).What percentage of people diagnosed with leprosy every year are children?
					</strong></h3>
				<p>Ans:Children (aged 15 and under) account for around 7.5 per cent of new leprosy cases. Most children
					affected contract leprosy between the ages of five and 14, but there are cases being diagnosed in
					children under five</p>
				<br /> -->

			</div>
		</div>
	</header>
</body>

</html>